<h1>Rails Calc v56</h1>

<ul>
<% @history.each do |line| %>
  <li><%= line %></li>
<% end %>
</ul>

<form action='/calc' method='post'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token =%>
  <input type='text' name='problem' />
  <button class='btn btn-primary'>Compute</button>
</form>

<form action='/calc' method='post'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token =%>
  <input type="hidden" name="_method" value="delete" />
  <button class='btn btn-danger'>Delete</button>
</form>
